<ion-content class="backgroundgradient">

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Post New Message
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-card color="light">

<ion-card-content color="light" class="bolder">
  <div class="centertext">
      <ion-label class="" position="stacked">Create New Message</ion-label>
  </div>
    
<ion-item color="light" >
    
    <ion-label position="stacked">Your Message</ion-label>
    <ion-input [(ngModel)]="model.message">
  
    </ion-input>
  </ion-item>
  
  <ion-item color="light">
      <ion-label position="stacked">Image url</ion-label>
      <ion-input [(ngModel)]="model.imageUrl">
    
      </ion-input>
  </ion-item>
      
    <ion-button  (click)="sendPost();" expand="block" size="medium" color="primary">
      Submit Post
  
    </ion-button>
  
  
</ion-card-content>
</ion-card>

</ion-content>

