
// Not Empty

.centertext{
    text-align: center;;
}

.bolder{
    font-weight: bold;;
}

.backgroundgradient{
    --background: radial-gradient(circle, #3852b0, #4960b4, #596eb7, #697bb9, #7989bb);
}